// #e3e3e3 = 배경 #fff= 글자색 #2F940C = 메인색 
// width:1200px; 
// 폰트사이즈  h1 = font-size:3rem;
$bg_color: #E3E3E3;
$fontColorW:#fff;
$colorMain:#2f940c;
$fontSizeT:3rem;
$titleFont:'Noto Sans KR',sans-serif;
$buttonColor:#B3E8A0;
@mixin layout {width:1200px; margin:80px auto;}
@mixin flex-row {display:flex; flex-flow:row nowrap; justify-content:space-between;}
@keyframes dog_hover {
    0% {transform-origin:center bottom; transform:scaleY(1) translateY(0); }
    100% {transform-origin:center bottom; transform:scaleY(1.5) translateY(100px);}
}

body {
    overflow-x:hidden;
    > main > .visual ,.wrap3, .wrap4 {@include layout;}
    main {
        .visual {
            .container {
                position:relative;
                video { width:100%; border-radius: 50px; z-index:800;}
                h1 {position:absolute; left:50%; top:40%; transform:translate(-50%,-50%); z-index:999; color:$fontColorW; font-size:$fontSizeT; font-weight:700; text-align: center;}
                p{
                background-color: $colorMain; padding:20px; 
                border-radius: 50px;
                display:inline-block;
                width:70px; height:70px;
                position:absolute; left:48%; bottom:10%;
                    img{width:100%; text-align: center; filter:invert(1)}
                }//e:p
            }// e:container
            h2 {
            margin:80px auto;
            position: relative; left:10%;
            background: #fff;
            z-index: 999;
            text-align: center;
                .txt {
                    background: #fff;
                    position: relative;
                    z-index: 999;
                    width: 1000px;
                    font-size:$fontSizeT;
                    span{font-size:$fontSizeT; color:$fontColorW; background-color: $colorMain; margin:0 5px; padding:0 5px; font-weight: 700;}
                }
            }
            h2::after{content: '';
                display: block;
                background:#000;
                width: 1000%;
                position: absolute;
                left: -1000px;
                top: 20px;
                height: 2px;
                }
        }// e:visual
        // 공통선택자
        .wrap{}
        // 유기동물, 왜 해마다 늘어날까?
        .wrap1 {
            // background-color: yellow;
            text-align:left; 
            overflow-y:hidden; 
            .container {
                width:1200px; margin:0 auto;
                h1 {
                    font-size:$fontSizeT; 
                    line-height:1.3em;
                    span {font-size:$fontSizeT; color:$colorMain; font-weight: 800;}
                }
                p {
                // background-color: pink;
                margin:0 auto;
                height:900px; width:500px; 
                position:relative; bottom:-150px;
                    img{width:100%;}
                }
                .contents {
                    position:relative; width:250px; height:100px;
                    img{height:80%; position:absolute;}
                    // img:nth-child(1) {left:590px; bottom:500px;} 
                    // img:nth-child(2) {left:250px; bottom:320px;}
                    // img:nth-child(3) {left:700px; bottom:200px;}
                    // img:nth-child(4) {left:250px; bottom:120px;}

                    img:nth-child(1) {left:714px; bottom:600px;} 
                    img:nth-child(2) {left:151px; bottom:478px;}
                    img:nth-child(3) {left:700px; bottom:255px;}
                    img:nth-child(4) {left:200px; bottom:80px;}
                }
            }
        }// e:wrap1
        // 긴급 후원 대상
        .wrap2 {
            background-color: $bg_color;
            padding:20px 150px 0;
            .container {
                padding:50px 50px 0;
                .title {
                    display:grid;
                    grid-template-areas:
                    'h1 right'
                    'more right';
                    justify-content: space-between;
                    h1 {grid:'h1';font-size:$fontSizeT; font-weight: 700; display:inline-block;}
                    h1::after {
                        content:''; display:block; width:100%; height:1px; background: #000;
                        position:relative; left:0; bottom:-10px;
                    }
                    .title_right {
                        grid:'right';
                        text-align:right; 
                        p {line-height:1.5; font-family:$titleFont;}
                        .info {font-weight: 500;}
                    }//e:title_right
                    p { 
                        .more {grid:'more'; text-align: left; font-weight:700; font-family:$titleFont; padding:10px;}
                        .more:hover {color:$colorMain; background-color: $fontColorW; padding:10px; border-radius:30px;}
                    }
                }//e:title
                .contents {
                    .dog {
                        @include flex-row();
                        margin-top:100px;
                        .sponsor_target {
                            width:30%; position:relative; overflow: hidden; 
                            border-top-left-radius:80px;
                            border-top-right-radius:80px;
                            .dog_img { position:relative; bottom:-20px;
                                img{width:100%; 
                                    border-top-left-radius:50px;
                                    border-top-right-radius:50px;
                                } 
                            }
                            .dog_info {
                                // animation: dog_hover 1s;
                                transition: all 1s;
                                position:absolute; left:0; top:0;
                                padding:160px 0;
                                background-color: $colorMain; width:100%; height:120%; opacity:0;
                                > *, > * > * {
                                    font-size:1.5rem; text-align: center; font-family: $titleFont; color:$fontColorW; 
                                    margin:20px 0;  
                                }
                                p {
                                    span::before {
                                        content:''; display:inline-block; width:2px; height:20px; background-color: $fontColorW;
                                        margin:0 10px;
                                    }
                                }
                            }
                        }
                        .sponsor_target:hover {
                            overflow:hidden;
                            .dog_info { 
                                transform:translateY(-50px);
                                opacity:1;
                                
                            }
                        }
                    }
                }
            }//e:container
        }//e:wrap2
        // 굿즈 후원하기 
        .wrap3 {
            position:relative;
            h1 {font-size:$fontSizeT; text-align: center; margin:100px 0;
                span {font-size:$fontSizeT; font-weight: 700;}
            }
            .goods {@include layout;
                .long {}
                .ecobag {}
                .tumbler {}
                .blanket {}
            }
            .goods_detail {
                @include layout; @include flex-row();
                p {display:block; width:33%; height:250px;}
                p:first-child {background: url(../images/ecobag_detail.jpg) no-repeat; background-size: cover; border-top-left-radius: 50px; border-bottom-left-radius:50px;}
                p:nth-child(2) {background: url(../images/tumbler_detail.jpg) no-repeat; background-size: cover;}
                p:last-child {background: url(../images/blanket_detail.jpg) no-repeat; background-size: cover; border-top-right-radius: 50px; border-bottom-right-radius:50px;}
            }
            .line {
                background: #000;
                width: 1000%;
                position: relative;
                left: -1000px;
                top: 30px;
                height: 2px;
                z-index:88;
                .sponsor {
                    text-align: center;
                    background: #fff;
                    position:absolute;
                    left:1200px; top:-29px;
                    z-index:99;
                    width: 800px;
                    margin: 0 auto;
                    a {
                        display:inline-block;
                        background-color: $colorMain;
                        padding:15px 45px;
                        font-size:2rem;
                        border-radius:50px;
                        color:$fontColorW;
                        font-weight: 700;
                        margin-right:55px;
                    }
                    a:last-child {margin:0;}
                    a:hover {background-color:$buttonColor; color:$colorMain; }
                }
            }
        }//e:wrap3
        // faq
        .wrap4 {
            // background-color: pink;
            margin:140px; @include layout;
            h1 {font-size:2rem; margin:50px 0; text-align: center; font-family:$titleFont; font-weight: 700;}
            .contanier {
                text-align: left;
                .question {
                    margin:50px 0;
                    > *, > * > * {font-family:$titleFont; font-size:1.5rem; line-height:1.5em;}
                    p:first-child {font-family:$titleFont; font-weight: 700; color:$colorMain; margin:15px 0;}
                    p:first-child::before {content:''; display:block; width:100%; height:3px; background-color: $colorMain; position:relative; top:-5px;}
                    p:last-child {
                        span {font-weight: 700;}
                    }
                }
            }
        }//e:wrap4
    } // e:main
    footer {
        p {text-align:center;
            a {
                background-color: $colorMain;
                padding:15px 80px;
                font-size:2rem;
                border-radius:50px;
                color:$fontColorW;
                font-weight: 700;
                position:relative; top:10px;
            }
            a:hover {background-color:$buttonColor; color:$colorMain;  }
        }
        .footer_bottom {
            width:100%; height:800px;
            background: url(../images/footer_bg.jpg) no-repeat; 
            background-size:100%;
            background-attachment:fixed;
            text-align:center;
            > * {color:$fontColorW; font-size:0.9rem; font-family: $titleFont;}
            a {display:inline-block; margin:750px 20px 0 0;}
            p {margin-top:10px;}
        }
    } // e:footer
}

